<br/>
<button type="button" (click)="fetchStats()" class="btn btn-success float-right">Fetch Stats</button>
Bets: {{count}} 
Volume: {{total}}
<br/>
<div class="container p-5">
    <table class="table table-striped table-bordered table-sm row-border hover" id="bxbtbetstable">
      <thead>
        <tr>
            <th>When</th>
                    <th>Game</th>
                    <th>Tip</th>
                    <th>Odds</th>
                    <th>Total Odds</th>
                    <th>Amount</th>
                    <th>Sport</th>
                    <th>Status</th>
                    <th>Bettor</th>
                    <th>BetID</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let pick of data">
        <td>{{ pick.gameDateMillis | date:'dd/MM/yyyy - hh:mmaaa' }}</td>
                    <td>{{ pick.game }}</td>
                    <td>{{ pick.tip }}</td>
                    <td>{{ pick.odds | number:'1.0-2'}}</td>
                    <td>{{ pick.totalOdds | number:'1.0-2'}}</td>
                    <td>{{ pick.amount }}</td>
                    <td>{{ pick.info }}</td>
                    <td>{{ pick.gameStatus }}</td>
                    <td>{{ pick.bettor }}</td>
                    <td>{{ pick.betId }}</td>
         </tr>
      </tbody>
    </table>
</div>
